table, td, td {
    display: flex;
    width: 100%;
    align-items: center;
}
table {
    margin: 0;
    box-shadow: none;
}
table tr {
    margin-bottom: 15px;
    display: block;
    background-color: #fff;
}
table td, table td {
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
table td {
    background-color: #1c9800;
    color: white;
    text-align: center;
}
table tr:last-of-type {
    border-bottom: 2px solid #009879;
}